In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

pop_df = pd.read_csv('등록인구추이_20230223163304.csv', encoding = 'cp949')
pop_df.drop(0 ,axis = 0 , inplace = True)
pop_df.columns = ['시점','세대수','인구','인구_남','인구_여','한국인','외국인','인구밀도']
print(pop_df.head())

     시점      세대수       인구     인구_남     인구_여      한국인    외국인    인구밀도
1  2018  1480468  3494019  1721327  1772692  3441453  52566  769.94
2  2019  1497908  3466563  1704098  1762465  3413841  52722  770.07
3  2020  1530431  3438710  1686412  1752298  3391946  46764  770.07

In [33]:
print(pop_df.head())
pop_df.sum(axis = 1 )
help(pd)

     시점      세대수       인구     인구_남     인구_여      한국인    외국인    인구밀도
1  2018  1480468  3494019  1721327  1772692  3441453  52566  769.94
2  2019  1497908  3466563  1704098  1762465  3413841  52722  770.07
3  2020  1530431  3438710  1686412  1752298  3391946  46764  770.07

C:\Users\ITPS\AppData\Local\Programs\Python\Python310\lib\inspect.py:469: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  value = getattr(object, key)
C:\Users\ITPS\AppData\Local\Programs\Python\Python310\lib\inspect.py:469: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  value = getattr(object, key)
C:\Users\ITPS\AppData\Local\Programs\Python\Python310\lib\inspect.py:469: FutureWarning: pandas.UInt64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  value = getattr(object, key)
IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [46]:
#pop_df['인구_남']
#pop_df.loc[:,'인구_남']
#pop_df.iloc[:,3]
v = pop_df['인구_남'].astype(np.float64) / pop_df['인구_여'].astype(np.float64)
pop_df.insert(5,'인구_남/여',v)

ValueError: cannot insert 인구_남/여, already exists

In [48]:
v = pop_df['한국인'].astype(np.float64) / pop_df['외국인'].astype(np.float64)
pop_df.insert(8,'한국인/외국인',v)
pop_df

ValueError: cannot insert 한국인/외국인, already exists

In [50]:
pop_df

,시점,세대수,인구,인구_남,인구_여,인구_남/여,한국인,외국인,한국인/외국인,인구밀도
1,2018,1480468,3494019,1721327,1772692,0.971024,3441453,52566,65.469182,769.94
2,2019,1497908,3466563,1704098,1762465,0.966883,3413841,52722,64.751736,770.07
3,2020,1530431,3438710,1686412,1752298,0.962400,3391946,46764,72.533273,770.07

In [51]:
pop_df
pop_np = pop_df.to_numpy().astype(np.float64)
print(pop_np[:,3]/pop_np[:,4])
print(pop_np[:,6]/pop_np[:,7])

[0.9710243  0.96688331 0.96240023]
[65.4691816  64.75173552 72.53327346]