In [2]:
import pandas as pd

In [4]:
# 데이터 프레임 가져오기
df = pd.read_csv('https://bit.ly/ds-house-price')

# 데이터 프레임 출력
df

     지역명               규모구분    연도   월 분양가격(㎡)
0     서울                 전체  2015  10    5841
1     서울         전용면적 60㎡이하  2015  10    5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4     서울        전용면적 102㎡초과  2015  10    5879
...   ..                ...   ...  ..     ...
4500  제주                 전체  2020   2    3955
4501  제주         전용면적 60㎡이하  2020   2    4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2    3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2     NaN
4504  제주        전용면적 102㎡초과  2020   2    3601

[4505 rows x 5 columns]

In [9]:
df = df.rename(columns = {'분양가격(㎡)':'분양가격'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모구분    4505 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가격    4210 non-null   object
dtypes: int64(2), object(3)
memory usage: 176.1+ KB

In [11]:
df['분양가격'].astype(int)

ValueError: invalid literal for int() with base 10: '  '

In [19]:
df.loc[df['분양가격'] == '  ','분양가격'] = '0'

In [21]:
df['분양가격'].astype(int)

ValueError: cannot convert float NaN to integer

In [23]:
df['분양가격'] = df['분양가격'].fillna('0')

In [25]:
df['분양가격'].astype(int)

ValueError: invalid literal for int() with base 10: '6,657'

In [27]:
df.loc[df['분양가격'] == '6,657']

     지역명 규모구분    연도   월   분양가격
2125  서울   전체  2017  11  6,657

In [29]:
df['분양가격'] = df['분양가격'].str.replace(',','')

In [31]:
df.iloc[2125]

지역명       서울
규모구분      전체
연도      2017
월         11
분양가격    6657
Name: 2125, dtype: object

In [33]:
df['분양가격'].astype(int)

ValueError: invalid literal for int() with base 10: '-'

In [39]:
df['분양가격'] = df['분양가격'].str.replace('','0')

In [41]:
df['분양가격'].astype(int)

0       50804010
1       50605020
2       50808020
3       50702010
4       50807090
          ...
4500    30905050
4501    40003090
4502    30906020
4503           0
4504    30600010
Name: 분양가격, Length: 4505, dtype: int32

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모구분    4505 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가격    4505 non-null   object
dtypes: int64(2), object(3)
memory usage: 176.1+ KB

In [45]:
df['분양가격'] = df['분양가격'].astype(int)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모구분    4505 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가격    4505 non-null   int32
dtypes: int32(1), int64(2), object(2)
memory usage: 158.5+ KB

In [49]:
df.head()

  지역명               규모구분    연도   월      분양가격
0  서울                 전체  2015  10  50804010
1  서울         전용면적 60㎡이하  2015  10  50605020
2  서울   전용면적 60㎡초과 85㎡이하  2015  10  50808020
3  서울  전용면적 85㎡초과 102㎡이하  2015  10  50702010
4  서울        전용면적 102㎡초과  2015  10  50807090

In [53]:
null_count = df.isnull().sum()
null_count

지역명     0
규모구분    0
연도      0
월       0
분양가격    0
dtype: int64