In [2]:
"2020.10.23".replace(".","-")

'2020-10-23'

In [4]:
"word with space".replace(" ","")

'wordwithspace'

In [6]:
"2020-12-25".replace("-","")

'20201225'

In [8]:
"내 이름은 %s입니다." %"홍길동"

'내 이름은 홍길동입니다.'

In [12]:
"나는 %d살 입니다." %12

'나는 12살 입니다.'

In [14]:
"원주율의 값은 %f입니다." % 3.141592

'원주율의 값은 3.141592입니다.'

In [20]:
"%d 곱하기 %d는 %d이다." %(2,3,6)

'2 곱하기 3는 6이다.'

In [23]:
"내 이름은 {}입니다.".format("홍길동")

'내 이름은 홍길동입니다.'

In [25]:
a = 1

if a % 2 == 0:
    print("짝수")
else:
    print("홀수")

홀수

In [27]:
b = 55
if(b >= 10) & (b < 100) & (b % 2 == 0):
    print("2자리 수의 짝수")
else:
    print("2자리 수의 홀수 ")

2자리 수의 홀수

In [30]:
def sum(a,b,c):
    s = a + b + c
    return s
sum(1,2,3)

6

In [32]:
def f(x):
    return 2 * x

f(2)

4

In [34]:
f = lambda x : 2*x

f(2)

4

In [42]:
for i in range(10):
    print("=" + str(i) + "=",end="")

=0==1==2==3==4==5==6==7==8==9=

In [44]:
for i in range(-9,10):
    print("*"*(10-abs(i)))

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [46]:
x = {"a" : 10, "b" : 20}

In [49]:
len(x)

2

In [51]:
x["a"] = 30
x

{'a': 30, 'b': 20}

In [54]:
x["c"] = 100
x

{'a': 30, 'b': 20, 'c': 100}

In [56]:
x["d"] = 400
x

{'a': 30, 'b': 20, 'c': 100, 'd': 400}

In [62]:
"d" in x

False

In [70]:
data = {"철수": 98, "영희": 80, "순이": 100, "돌이": 70,}
a = 0

for i in data :
    print(i," ",data[i])
    a += data[i]
print("================")
print("평균 ", int(a/len(data)))

철수   98
영희   80
순이   100
돌이   70
================
평균  87